@import url(https://fonts.googleapis.com/css?family=Raleway:300);
body {
    background-color: orange;
    font-size: 200%;
    margin: 0;
    font-family: 'Raleway', sans-serif;
}
p {
    text-align: center;
}
#result {
    font-size: 200%;
    width: 100%;
    background-color: lightblue;
    text-align: right;
}
table {
    border-collapse: collapse;
    width: 100%;
    border-style: none;
    border-width: 0;
    
}
tbody {
   padding: 0;
   margin: 0;
}
td {
    padding: 0;
    margin: 0;
}
button {
    font-size: 200%;
    margin: 0;
    width: 100%;
    border-style: none;
    color: white;
    background-color: #224;
}

button:hover {
        background-color: #002;
}